@import "tailwindcss";

.page {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "left main right";
}
.page_main {
    grid-area: main;
}
.page_left {
    grid-area: left;
}
.page_right {
    grid-area: right;
}
